@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}


:root {
    --purple: #6643ad;
    --text-color-1: #444;
    --text-color-2: #666;
    --bg-color-1: #fff;
    --bg-color-2: #eee;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}


html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--purple);
}

body {
    background: var(--bg-color-2);
}

.container2 {
    overflow-y: hidden;
    width: 100%;
    display: flex;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--bg-color-1);
    box-shadow: var(--box-shadow);
    padding: 2rem 7%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    font-weight: bolder;
    font-size: 2.5rem;
    color: var(--text-color-1);
}

header .logo i {
    color: var(--purple);
}

header .navbar a {
    color: var(--purple);
    font-size: 1.5rem;
    font-weight: bolder;
    margin: .8rem;
}

header .navbar a:hover {
    text-decoration: none;
    cursor: pointer;
    color: var(--text-color-2);
}

header .icons i {
    color: var(--purple);
    font-size: 1.5rem;
}

header .icons i:hover {
    cursor: pointer;
    color: #666;
}

#menu-bar {
    color: var(--purple);
    border: .1rem solid var(--purple);
    border-radius: .5rem;
    font-size: 2rem;
    padding: .5rem 1.2rem;
    cursor: pointer;
    display: none;
}

.footer {
    margin-top: 300px;
    background: var(--bg-color-1);
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

.footer .box-container .box h3 {
    font-size: 2rem;
    color: var(--purple);
    padding: 1rem 0;
}

.footer .box-container .box p {
    font-size: 1.5rem;
    color: #666;
    padding: .7rem 0;
}

.footer .box-container .box a {
    display: block;
    font-size: 1.5rem;
    color: var(--purple);
    padding: .7rem 0;
}

.footer .box-container .box a i {
    padding-right: .5rem;
    color: var(--purple);
}

.footer .box-container .box a:hover {
    text-decoration: none;
    padding-left: 1rem;
    color: #666;
}

.box-container {
    overflow-y: hidden;
    width: 100%;
    display: flex;
}

section {
    padding: 2rem 7%;
}

.cursos {
    margin-top: 20rem;
    justify-content: center;
}

.planos {
    text-align: center;
}

.feedtreet {
    text-align: center;
}



@media(max-width:1200px) {
    html {
        font-size: 55%;
    }
}

.footer .copyright {
    font-size: 1.3rem;
    font-weight: bolder;
    text-align: center;
    border-top: .1rem solid var(--purple);
    padding: 1rem;
    padding-top: 2rem;
    margin-top: 2rem;
    color: var(--purple);
}

#Form row {
    justify-content: center;
    margin-top: 20rem;

}




@media(max-width: 991px) {
    header {
        padding: 2rem;
    }
}

@media(max-width: 768px) {
    #menu-bar {
        display: initial;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background: var(--bg-color-1);
        border-top: .1rem solid var(--purple);
        padding: 1rem 2rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a {
        display: block;
        border-radius: .5rem;
        padding: 1.5rem;
        margin: 1.5rem 0;
        background: var(--bg-color-2);
    }


}


@media(max-width:450px) {
    html {
        font-size: 50%;
    }
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    color: white;
    background: var(--purple);
    border-radius: .5rem;
}

.btn:hover {
    cursor: pointer;
    color: var(--text-color-2);
}

.home {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 7rem;
}

.home .image {
    flex: 1 1 45rem;
}

.home .image img {
    width: 100%;
}

.home .content {
    flex: 1 1 45rem;
}

.home .content h3 {
    color: var(--purple);
    font-size: 4rem;
}

.home .content h2 {
    color: var(--purple);
    text-align: center;
    font-size: 4rem;
}

.home .content p {
    color: var(--text-color-1);
    font-size: 2.5rem;
    line-height: 1.7;
    padding: 1rem 0;
}

.main-login {
    width: 100vw;
    height: 100vh;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-image {
    width: 35vw;
}

.left-login h1 {
    color: #6643ad;
    font-size: 4rem;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #eee;
    border-radius: 30px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login h1 {
    color: #6643ad;
    font-weight: 800;
    margin: 0;
    margin-bottom: 10px;

}


.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #fff;
    color: #6643ad;
    font-size: 12pt;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    box-sizing: border-box;
}

.textfield h3 {
    font-size: 15px;
    color: #6643ad;
    margin-bottom: 10px;
}

.textfield input::placeholder {
    color: #6643ad;
}

.btn-login {
    background-color: #6643ad;
    color: #fff;
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 800;
    cursor: pointer;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}


@media(max-width: 950px) {
    .card-login {
        width: 85%;
    }
}

@media(max-width: 768px) {
    .main-login {
        flex-direction: column;
    }

    .left-login h1 {
        display: none;
    }

    .left-login {
        width: 100%;
        height: auto;
    }

    .left-image {
        width: 50vh;
    }

    .right-login {
        width: 100%;
        height: auto;
    }

    .card-login {
        width: 90%;
        box-sizing: border-box;
    }
}

.heading {
    color: transparent;
    background: var(--purple);
    -webkit-background-clip: text;
    background-clip: text;
    padding: 0 1rem;
    padding-top: 10rem;
    text-align: center;
    font-size: 4rem;
}

.prof {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.prof .box {
    background: var(--bg-color-1);

    flex: 1 1 23rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    border-radius: .5rem;
    padding: 1.5rem;
    text-align: center;
}

.prof .box img {
    height: 10rem;
    width: 10rem;
    margin: .5rem 0;
    border-radius: 50%;
    object-fit: cover;
}

.prof .box h4 {
    font-size: 2.5rem;
    color: var(--purple);
    padding: 1rem 0;
}

.prof .box span {
    font-size: 1.5rem;
    color: mediumpurple;
}

.prof .box p {
    font-size: 1.5rem;
    color: #444;
    padding: 1rem 0;
}

.prof .box .share a {
    color: var(--purple);
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    font-size: 2rem;
}


div.box {
    width: 300px;
    display: inline-block;
    margin-top: 20rem;
    justify-content: baseline;
    font-size: 15px;
}



label {
    font-family: 'Roboto Medium', sans-serif;
    font-size: 16px;
    color: #000;
    font-weight: 500;

}


.form-container form {
    background: var(--bg-color-1);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;

}

.form-container form .inputbox {
    flex: 1 1 23rem;
}

.form-container form .inputbox span {
    font-size: 1.7rem;
    color: var(--text-color-2);
}

.form-container form .inputbox input {
    font-size: 1.5rem;
    color: var(--text-color-1);
    background: var(--bg-color-2);
    border-radius: .5rem;
    margin: .5rem 0;
    text-transform: none;
    width: 100%;
    padding: 1rem;
}

.form-container form .inputbox textarea {
    height: 20rem;
    resize: none;
}

.form-container form .inputbox .btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    color: white;
    background: var(--purple);
    border-radius: .5rem;
}

.form-container form btn {
    flex: 1 1 23rem;
}

.espaçofeed {
    margin-top: 35px;
}

.perfil {
    margin-left: 40%;
}

.pespecial {
    margin-top: 30%;
}

.botao-doacao {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #6c63ff;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-weight: 500;
}


.form-container form .inputbox textarea {
    font-size: 1.5rem;
    color: var(--text-color-1);
    background: var(--bg-color-2);
    border-radius: .5rem;
    margin: .5rem 0;
    text-transform: none;
    width: 100%;
    padding: 1rem;
}

.form-container form .inputbox textarea {
    height: 20rem;
    resize: none;
}

.row {
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 50px;
    padding-left: 10px;
}



.doacao .container3 {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.doacao .container3 .box {
    background: var(--bg-color-1);
    flex: 1 1 30rem;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 7px 7px 13px 0 rgba(50, 50, 50, 0.22);
}

.doacao .container3 .box img {
    height: 25rem;
    width: 100%;
    object-fit: cover;
}

.doacao .container3 .box .content {
    padding: .5rem;
}

.doacao .container3 .box .content h4 {
    font-size: 2rem;
    color: var(--text-color-1);
}

.container3 {
    overflow-y: hidden;
    width: 100%;
    display: flex;
}

.cards-style {
    display: flex;
    background-color: white;
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0 rgba(50,50, 50, 0.22);
    padding: 20px;
    margin: 20px;
    width: 300px;
}

main .card h1{
    color: #778899;
    display: inline;
    font-family: Poppins, sans-serif;
    text-align: center;
    font-size:30px;
    padding: 5px;
    font-weight:bold ;
}
main .card h3{
    color: #778899;
    display: flex;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    padding: 5px;
    font-weight:lighter ;
}

main span h1{
    color: rgb(39, 36, 36);
    font-family: Montserrat, sans-serif;
    font-size: max(40px,4vw);
    font-weight: 400;
    text-align: start;
    margin: 20px;
    padding: 20px;
}

main span h3{
    color: rgb(39, 36, 36);
    text-align: start;
    font-family: Montserrat, sans-serif;
    font-size: max(20px 4vw);
    font-weight: bolder;
    margin: 20px;
    padding: 10px;
}
.espaçofeed {
    margin-top: 35px;
}